{% block content %}
    {% set body %}
        <div>
            <form action="/db/manage" method="post">
                {% include'template/inputs.twig' with  {'inpid' :  'user_pass1' , 'inptype': 'password','labid':'userpass1' ,'lab':'password','inpname':'pass','validate':true , 'required' :true ,'tip_data' : 'Password Must Contains atleast one letter , one number , one symbol and have minimum 10 charcters length ','tip_dir' :'right' } %}
                <div style="padding-bottom: 20px"></div>
                {% include'template/inputs.twig' with  {'inpid' :  'user_pass2' , 'inptype': 'password','labid':'userpass2' ,'lab':'Confirm - Password','inpname':'conf_pass','validate':true , 'required' :true ,'tip_data' : 'Password Must Contains atleast one letter , one number , one symbol and have minimum 10 charcters length ','tip_dir' :'right' } %}
                <div style="padding-bottom: 20px"></div>
                <input type="hidden" value="" name="User_Name" id="User_Name">
                <button name="change_user_password" type="submit" class="button blue" >Change Password</button>
            </form>
        </div>
    {% endset %}
    {% set model_body ={'model_body' :  body  } %}
    {%  include'template/model.twig' with  {'model_body' :  body , 'model_id': 'change_pass' } %}
{% endblock %}